<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-icon name="notifications-outline"></ion-icon>Notification</ion-item>
        <ion-item><ion-icon name="shield-checkmark-outline"></ion-icon>Privacy</ion-item>
        <ion-item><ion-icon name="language-outline"></ion-icon>Languages</ion-item>
        <ion-item><ion-icon name="chatbubble-ellipses-outline"></ion-icon>Ask</ion-item>
        <ion-item><ion-icon name="cog-outline"></ion-icon>Settings</ion-item>   
      </ion-list>
    </ion-content>
  </ion-menu>




  <ion-router-outlet id="main-content"></ion-router-outlet>





    
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>صلاتك</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content fullscreen class="ion-padding" color="success">

        <ion-card-title>
          <p>القاهرة</p>
          <p>مواقيت الصلاه</p>
        </ion-card-title>

     
        <div class="row row-cols-3 row-cols-lg-6 g-4 row-cols-md-3 g-4 row-cols-sm-10 g-4" *ngFor="let x of filter">


          <div class="col-4 " >
            <div class="card"> 
              <div class="card-header">Fajr </div>
              <div class="card-body">
                <p class="card-text"> {{x.timings.Fajr}}</p>
            </div>
          </div>
        </div>

          <div class="col-4">
            <div class="card h-100">
              <div class="card-header">Dhuhr</div>
              <div class="card-body">
                <p class="card-text">{{x.timings.Dhuhr}}.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card h-100">
              <div class="card-header">Asr </div>
              <div class="card-body">
                <p class="card-text"> {{x.timings.Asr}}.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card h-100">
              <div class="card-header">Maghrib </div>
              <div class="card-body">
                <p class="card-text">{{x.timings.Maghrib}}.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card h-100">
              <div class="card-header"> Isha</div>
                <div class="card-body">
                <p class="card-text">{{x.timings.Isha}}</p>
              </div>
            </div>
        </div>

       

      </div>

 <button class="btn btn-primary" style="margin-left: 120px; margin-top: 50px;" (click)="goto()">more</button>
      
    </ion-content>


 


</ion-app>
